body {
	padding: 50px 100px;
	font-size: 13px;
	font-style: Verdana, Tahoma, sans-serif;
}

#state{
	background: yellow;
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	vertical-align: middle;
	padding: 20px;
	width: 100%;
}

h2 {
	margin-bottom: 20px;
	color: #474E69;
}

input[type="text"],input[type="password"],input[type="email"],input[type="url"],input[type="date"], textarea {
	padding: 10px;
	border: 1px solid #E5E5E5;
	width: 200px;
	color: #999999;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;		
}

textarea {
	width: 400px;
	height: 150px;
	max-width: 400px;
	line-height: 18px;
}

input[type="text"]:hover,input[type="password"]:hover,input[type="email"]:hover,input[type="url"]:hover,input[type="date"]:hover, textarea:hover,
input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="date"]:focus, textarea:focus {
	border-color: 1px solid #C9C9C9;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;	
}

input.failedValidation, textarea.failedValidation{
	background: rgba(255,0,0,0.2);
}

.form label {
	margin-left: 10px;
	color: #999999;
}

.submit input {
	width: 100px; 
	height: 40px;
	background-color: #474E69; 
	color: #FFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;		
}